@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}

.btn {
  font-family: 'PT Sans', sans-serif;
}

body {
  overflow-x: hidden;
  font-size: 1rem;
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

.container {
  margin: auto;
}

.navbar.navbar-light.navbar-expand-md.navigation-clean-search {
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1500px;
  }
}

.navbar-logo {
  width: 150px;
}

.navbar.navbar-light.bg-light.navigation-clean-search {
  font-size: 20px;
}

.navbar.navbar-light.navbar-expand-md.navigation-clean.navbar-footer {
  bottom: 0;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin: auto;
  padding: 0;
  font-size: 30px;
}

.container.container-footer {
  width: 80%;
}

.row.display-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col.display-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cat {
  width: 200px;
  height: 100px;
  border-radius: 10px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 15% 55%;
  opacity: .8;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 700;
  position: relative;
}

.cat:hover {
  -webkit-box-shadow: -5px 5px 5px #aaaaaa;
          box-shadow: -5px 5px 5px #aaaaaa;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.cat:hover > desc {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: .2s;
  transition: .2s;
}

.cat desc {
  text-align: center;
  color: rgba(0, 0, 0, 0.774);
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  top: 45%;
  left: 0;
  position: absolute;
  -webkit-transition: .2s;
  transition: .2s;
  white-space: normal;
}

@media screen and (max-width: 400px) {
  .cat desc {
    font-size: 1rem;
  }
}

.cat-1 {
  background-image: url("https://images.unsplash.com/photo-1544421604-b50d59499cd1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}

.cat-2 {
  background-image: url("https://images.unsplash.com/photo-1509440159596-0249088772ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

.cat-3 {
  background-image: url("https://images.unsplash.com/photo-1559598467-f8b76c8155d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}

.cat-4 {
  background-image: url("https://images.unsplash.com/photo-1551028150-64b9f398f678?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}

.cat-5 {
  background-image: url("https://images.unsplash.com/photo-1557844352-761f2565b576?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
}

.cat-6 {
  background-image: url("https://images.unsplash.com/photo-1517646458010-ea6bd9f4a75f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}

@media (min-width: 768px) {
  .navigation-clean {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.navigation-clean {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.recipe-carousel {
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipe-carousel .card {
  margin-right: 5px;
  height: 200px;
}

.recipe-carousel .card .card-title {
  font-weight: 800;
}

.slick-next::before, .slick-prev::before {
  color: #6CC3D5;
}

.slick-dots li button::before {
  color: #808080;
}

.slick-dots li.slick-active button::before {
  color: grey;
}

.card .card-img-top {
  width: 100%;
  height: 25vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trolley-logo {
  border: 4px solid #e75f58;
  border-radius: 200px;
  padding: 15px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.word-logo {
  width: 220px;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
}

.row.display-column.landing {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.display-column.landing .col {
  margin-bottom: 5px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  text-align: center;
}

.half-background {
  width: 100%;
  height: 25vh;
  border-bottom: 4px solid #e75f58;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.half-background h3:nth-child(1) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logo-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -3rem;
}

.logo-container .trolley-logo {
  background: white;
  width: 80px;
  height: 80px;
  padding: 8px;
}
/*# sourceMappingURL=styles.css.map */